# environment variables to inject in install.rb for the different packages.
# if there is no .env file then the environment variables that do not have
# default values will need to be injected explicitly.

##### minimal

# apt-cacher-ng should listen on APT_CACHER_NG_PORT. If prefer to use an
# existing proxy for packages then set APT_PROXY_HOST and APT_PROXY_PORT below.
#APT_CACHER_NG_PORT=3142

# proxy to use for packages. note: APT_PROXY_PORT defaults to APT_CACHER_NG_PORT.
#APT_PROXY_HOST=localhost
#APT_PROXY_PORT=3142

##### admintools

# create /etc/init.d/iptables init script to load iptable rules from $IPTABLES_CONF
IPTABLES_INIT_D=1
#IPTABLES_CONF=/etc/iptables.conf

#### usertools

#### devtools

# whether to install libmysqlclient_dev (eg. to build ruby mysql bindings)
LIBMYSQL_DEV=1

# whether to install libmongo_client_dev (eg. to build ruby mongodb bindings)
LIBMONGO_DEV=1

# whether to install librabbitmq_dev (eg. to build ruby rabbitmq bindings)
LIBRABBITMQ_DEV=1

# whether to install libxml_dev and/or libxslt_dev (eg. to build ruby 'nokogiri' library)
LIBXML_DEV=1
LIBXSLT_DEV=1

#### settings

# the system's hostname (if possible fully qualified)
#HOSTNAME=test.local

# whether to install systemwide /etc/vimrc (optionally: supply a custom one)
VIM_SYSTEM_VIMRC=1
#VIM_SYSTEM_VIMRC_CUSTOM=/etc/vimrc

# set OPENSSH_DISABLE_PASSWORD_AUTHENTICATION to disable tunneled cleartext
# passwords with ssh (recommended). as an option you may also provide
# path to OPENSSH_AUTHORIZED_KEYS (default: '~/.ssh/authorized_keys')
#OPENSSH_DISABLE_PASSWORD_AUTHENTICATION=1
#OPENSSH_AUTHORIZED_KEYS=~/.ssh/authorized_keys

#### rabbitmq

# whether to install the following plugins with the 'rabbitmq' recipe
#RABBITMQ_PLUGIN_MANAGEMENT=1
#RABBITMQ_PLUGIN_STOMP=1
