# environment variables to inject in install.rb for the different packages.
# if there is no .env file then the environment variables that do not have
# default values will need to be injected explicitly.

##### admintools

# create /etc/init.d/iptables init script to load iptable rules from $IPTABLES_CONF
IPTABLES_INIT_D=1
#IPTABLES_CONF=/etc/iptables.conf

#### usertools

# whether to install systemwide /etc/vimrc (optionally: supply a custom one)
VIM_SYSTEM_VIMRC=1
#VIM_SYSTEM_VIMRC_CUSTOM=/etc/vimrc
